body{
	background-color: #f4f4f4;

	color:#1C1D22;
	font-family: 'Raleway',Times New Roman, Helvetica, sans-serif;
	font-size:16px;
	line-height: 1.6em;
	margin:0;
}

h3{
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
}

.container{
	width: 90%;
	margin:auto;
	overflow:hidden;
}
.button{
	background-color: #6C8EAD;
	color: #EDF1FB;
	padding: 10px 15px;
	border:none;
	text-decoration: none;
}

.button:hover {
	background-color: #FF8C42;
	color: #EDF1FB;
}

.button-project:hover {
	background-color: #FF8C42;
	color: #EDF1FB;
	padding: 20px; 
}
.big-wide{

	margin: 0px 10%;
	padding: 10px 25%;
	display: flex;
	
}

.clr{
	clear:both;
}
.summary-img{
	display:flex;
	
}
.summary-img img{
	width: 33%;
	margin-right: 5%
	
}
.summary-img p{
	padding: 3% 0;
}
.summary-text h2{
	text-align: center
}
.summary-img::after{
	content:"";
	clear: both;
	display: table;
}

.img-with-text{
	float:left;
	text-align: center;
	/*color: #EAAAFB;*/
	width: 30%;
	padding:1%;
}
.img-with-text img{

	display: block;
	margin: 0 auto;
}
.img-with-text::after{
	content:"";
	clear: both;
	display: table;
}


.appeal-img{
	display:flex;
}

.appeal-img img{
	float:right;
	width: 33%;
	margin-left: auto;
	margin-right: 1%;
	
	
}
.appeal-img p{

	padding: 3% 0;
}
.appeal-text h2{
	text-align: center
}
.appeal-img::after{
	content:"";
	clear: both;
	display: table;
}


/*
#main-home{
	border:3px dotted #ddd;
	padding: 20px;
	margin: 20px 0;

	
}*/

#stats{
	background-color: #A23E48;
	color: #EDF1FB;
	padding: 20px 0;

}
#stats h3{
	text-align: center;
	font-size: 2em;
}

#how-to{
	border:3px dotted #ddd;
	padding: 20px 20px;
	margin: 20px 0;
}

#prep{
	padding: 10px 20px;
	margin: 20px 0;
}


#main-header{
	background-color: #642432;
	/*color: #EDF1FB;
	*/
	color: #EDF1FB;
	padding-left: 4%;
	text-align: center;
	padding-right: 50px;
	font-size: 18px;
}
#main-header:hover{
	color: #FBBE9D;
	/*color: #E4C3AD;*/
}
/*
#main-header:hover:after{
	content: url('../images/headshot_2_small.png');
	display: block;
	position: relative;
		
}
*/
#navbar{
	background-color: #A23E48;
	color: #EDF1FB;
}

#navbar ul{
	padding:0;
	list-style: none;

}
#navbar li{
	display: inline;
	
	float:left;
	width:20%;
	text-align: center;
	
	padding-bottom: 13px;

	box-sizing: border-box;

}
#navbar a{
	color: #EDF1FB;
	font-family: 'Raleway', Lucida Console;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	text-align: center;

}
#navbar a:hover{
	background-color: #FF8C42;
	color: #000;
}

#showcase{
	background-image: url('../images/looking_at_my_code,_are_we.png');
	/*opacity: 0.90;*/
	background-position: -9% 36%;
	min-height: 400px;
	margin-bottom: 20px;
	text-align: center;
	


}
#showcase h2{
	font-family: 'Raleway', Lucida Console;
	color:#FBBE9D;
	font-size:55px;
	line-height: 1.6em;
	padding-top: 90px;
	word-spacing: 30px;
	text-shadow: #edb393 0px 0px 1px;
	-webkit-font-smoothing: antialiased;

}
#showcase h2:hover{
	/*color: #F4927D;*/
}
#main{
	float: left;
	width: 70%;
	padding:0 30px;
	box-sizing: border-box;
}
#sidebar{
	float: right;
	width: 30%;
	background: #6C8EAD;
	color:#EDF1FB;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #642432;
	color: #EDF1FB;
	text-align: center;
	padding: 10px;
	margin-top: 40px;
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float:none;
	}
	#sidebar{
		width: 100%;
		float:none;
	}
}


#main-home{
	border:3px dotted #ddd;
	padding: 20px;
	margin: 20px 0;
	
}

#projects-header{
	text-align: center;
	padding: 20px 0;
	padding-top: 10px;
	font-size: 2em;

}

#stats{
	background-color: #f4f4f4;
	color: #EDF1FB;
	color:black;
	padding: 20px;
}
/*#stats{
	background-color: #A23E48;
	color: #EDF1FB;
	padding: 20px 0;
}*/
#stats ul{
	padding:0;
	list-style: none;
}
#stats li{
	display: inline;
	float:left;
	position: center;
	width: 25%;
	padding: 30px;
	text-align: center;
	box-sizing: border-box;
	
}


#stats a{
	color: #EDF1FB;
	text-decoration: none;
	font-size: 1.6em;
	padding: 15px;
	text-align: center;

}


#contacts {
	margin-top: 20px ;
	padding: 20px;
	border:3px dotted #ddd;
}
